doctype=html
html
	head
		title Twubric Assignment
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css' integrity='sha256-8BrtNNtStED9syS9F+xXeP815KGv6ELiCfJFQmGi1Bg=' crossorigin='anonymous')
	body
		section.section
		.container
			.columns.has-text-centered.has-text-weight-bold.is-multiline.is-centered
				.column.is-full
					p.is-size-2 Twubric Assignment
				.column.is-one-quarter
					a(href='/app/connect').button.is-rounded.is-info.is-outlined
						i.fab.fa-twitter
						|                 &nbsp;Login via Twitter
		script(defer='' src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')